* {
  font-family:helvetica,arial,sans-serif;
}

body {
  margin:0; 
  background:#FFFFFF;
  padding: 5em;
}

A {
  font-weight:normal;
  color:#020169;
  text-decoration:none;
}
A:active {color:#6884A4;}
A:visited {color:#6884A4;}
A:hover	{text-decoration:underline; color:black; background: #6A7BAB;}

LI {
	font-family:	helvetica,arial,sans-serif;
	text-align: 	justify; 
	margin-top: 	2em; 
}

BIG {text-decoration:none; font-weight:bold; font-size:normal;}

SMALL {
  text-decoration: 	none;
  font-weight:		bold;
  font-size:		small;
  color:		green;
}

p {
  text-align: justify;
}

img {
  border: 0;
}

h1 {
  border-bottom: solid black 1px;
  background: #6A7BAB;
}

p.question {
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
}

p.detail {
}

p.commentaire {
  text-decoration: 	none;
  font-weight:		bold;
  font-size:		small;
  color:		green;
}

pre {
  background: lightgray;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

ACRONYM.ACRONYM {font-style:normal;}

CODE.FUNCTION,VAR.LITERAL,VAR.PARAMETER,VAR.REPLACEABLE {
  font-family:monospace;
  font-style:normal;
  font-size:small;
  voice-family: "\";}\"";
  /* Tantek MSIE4/5 hack */
  voice-family:inherit;
  font-size:medium;
}

VAR.PARAMETER,VAR.REPLACEABLE {font-style:italic;}

.menu-container {
      position:         fixed;
      float:            left;
      top:              10px;
      bottom:           10px;
      border-left:      2px dashed #6A7BAB;
      width:            260px;
      z-index:          1;
}


.menu {
      position:    fixed;
      float:       left;
      top:         0px;
      text-align:  left;
      padding:     10px;
      font-size: 120%;
      font-color: #000000;
      z-index:	  2;
}

.content {
      margin:  0px 0px 0px 280px;*/
}
